.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: colfax-web;

  .header {
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
  }

  .paragraph {
    font-size: 14px;
    line-height: 116.5%;
    color: #959595;
    background: rgba(50, 50, 50, 0.3);
    border: 1px solid #323232;
    border-radius: 140px;

    text-align: center;
    padding: 8px 24px;
    font-weight: 400;
    overflow-y: auto;
    margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .description {
    padding: 22px;
    background: #1d1d1d;
    box-shadow: inset 0px 1.00501px 0px rgb(67 67 67 / 75%);
    border-radius: 5.02507px;
  }

  .permission {
    font-size: 14px;
    font-weight: 400;
    color: #6c6c6c;
    text-align: left;
  }

  .divideLine {
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #2d2d2d;
  }

  ul {
    list-style: none;
    font-size: 14px;
    padding: 0;
    width: fit-content;
    margin-top: 19px;
    margin-bottom: 0 !important;
    color: #ffffff;

    li:before {
      content: "- ";
    }
  }

  .buttons {
    display: flex;
  }

  .button {
    flex: 1;
  }
}

.footer {
  border-radius: 4px;
  width: 100%;
  height: 70px;
  padding: 16px;
  background: #272727;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 0px 1px 0px #393939;
}

.button {
  border-color: transparent !important;
  width: 160px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #323232;
  border-radius: 35px;
  color: #959595;
  font-family: colfax-web;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.buttonActive {
  width: 160px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffdf8b 0%, #ffc989 100%);
  box-shadow: inset 0px 1px 0px #fff9ef;
  border-radius: 35px;
  border: none !important;
  color: #141414;
  font-family: colfax-web;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
