@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.full-modal {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border: 0;
  margin: 0;
  padding: 0;

  &:global(.modal-content) {
    box-shadow: none;
  }
}

.inputGroup {
  position: relative;
}

.input {
  // box-shadow: $input-alternative-box-shadow !important;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #323232;
  height: 100%;
  border-radius: 8px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #e9e4df;

  letter-spacing: 1px;

  &:hover {
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #696969;
  }
  &:focus {
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #696969 !important;
  }
}

.input::placeholder {
  color: #696969;
}

.address-book-button {
  position: absolute;
  background: transparent;
  top: 13px;
  right: 22px;
  cursor: pointer;
}

.inputWrapper {
  // box-sizing: border-box;
  height: 52px;
  width: 100%;
  border-radius: 12px;
}
