@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.input {
  // box-shadow: $input-alternative-box-shadow !important;
  height: 52px;
  background: rgb(0, 0, 0, 0.2);
  padding-left: 23px;
  padding-right: 105px;
  border: 1px solid #323232;
  color: #696969;
  border-radius: 8px;
  font-size: 16px;
  line-height: 19px;

  &:focus {
    // box-shadow: $input-focus-alternative-box-shadow !important;

    // & + .select {
    //   box-shadow: $input-focus-alternative-box-shadow !important;
    // }
    background: rgb(0, 0, 0, 0.2);
    border: 1px solid #323232;
    color: #696969;
  }
}

.token-selector {
  width: 100%;
  height: 46px;

  button {
    width: 100%;

    background: white;
    text-align: left;
    font-weight: normal;
  }

  :global(.dropdown-toggle) {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;

    &::after {
      border-radius: 2px;
      content: " ";
      display: block;
      height: 0.625em;
      margin-top: -0.4375em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      width: 0.625em;
      border: 0 solid black;
      border-bottom-width: 3px;
      border-left-width: 3px;
      right: 1.125em;
      z-index: 4;
    }
  }

  :global(.dropdown-menu.show) {
    width: 100%;
  }

  &:global(.disabled) {
    button {
      background: #e9ecef;
      border-color: #e9ecef;
    }
  }
}

.balance {
  margin-left: 7px;
  float: right;
  font-weight: normal;
  color: #696969;

  &.clickable {
    cursor: pointer;
    // text-decoration: underline;

    &:hover {
      color: white;
    }

    &.clicked {
      color: white;
    }
  }
}

.inputGroup {
  position: relative;
}

.maxButtonGroup {
  position: absolute;
  top: 16px;
  right: 17px;
  display: flex;
  align-items: center;
  height: 20px;
}

.maxButton {
  width: 52px;
  height: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17px;
  color: #696969;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  cursor: pointer;
}
