@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.input {
  box-shadow: $input-alternative-box-shadow !important;
  height: 52px;
  background: rgb(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: colfax-web;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #696969;

  &:hover {
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #696969;
  }
  &:focus {
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.25) !important;
    color: #696969;
  }

  // &:focus {
  //   box-shadow: $input-focus-alternative-box-shadow !important;
  // }
}

.inputWrapper {
  width: 100%;
  border-radius: 12px;
}
