@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.input {
  box-shadow: $input-alternative-box-shadow !important;

  &:hover {
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #696969;
    color: #696969;
  }
  &:focus {
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #ffd48a !important;
    color: #696969;
  }

  // &:focus {
  //   box-shadow: $input-focus-alternative-box-shadow !important;
  // }
}

.inputWrapper {
  width: 100%;
  border-radius: 12px;
}
