@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.loadingContainer {
  width: 336px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.historyBox {
  position: relative;
  width: 328px;
  height: 68px;
  margin-top: 10px;
  padding: 14px;
  background: #1d1d1d;
  box-shadow: inset 0px 1px 0px rgba(67, 67, 67, 0.75);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #d9d9d9;
}

.activity {
  font-family: "Colfax";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.amount {
  font-family: "Colfax";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.4px;
}

.address {
  font-family: "Colfax";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #696969;
}
