@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.loadingContainer {
  width: 336px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.historyBox {
  height: 68px;
  margin-top: 10px;
  padding: 14px;
  background: #1d1d1d;
  box-shadow: inset 0px 1px 0px rgba(67, 67, 67, 0.75);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.subIcon {
  position: absolute;
  top: 2px;
  right: -5px;
  width: 16px;
  height: 16px;
  background-size: cover;
}

.activity {
  font-family: colfax-web;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.amount {
  font-family: colfax-web;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.4px;
}

.address {
  margin-left: 6.5px;
  font-family: colfax-web;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #696969;
}

.date {
  font-family: colfax-web;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #696969;
  margin-top: 32px;
  margin-bottom: 7px;
}
