.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 116.5%;
  color: #ffffff;
  margin-bottom: 19px;

  img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120.38px;
    height: 120.38px;
  }
}
