.container-name {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 171px;
  justify-content: center;
  &:hover .select-popup-wrapper {
    transition: 500ms;
    display: block;
  }
}

.name {
  padding: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    background: #3c352a;
    border-radius: 51px;
  }
}

.avatar {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 14px;
  margin-right: 10px;
}

.dropdown-image {
  width: 12px;
  height: 6px;
  margin-left: 10px;
}

.select-popup-wrapper {
  display: none;
  position: absolute;
  width: 131px;
  left: 20px;
  top: 31px;
  padding-top: 4px;
  z-index: 900000;
  &:hover {
    display: block;
  }
}

.select-popup {
  width: 131px;
  height: 71px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #1f1f1f;
  border: 1px solid #393939;
  box-shadow: 0px 0px 11px rgb(0 0 0 / 30%);
  border-radius: 8px;
}

.select-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 9px;

  color: #959595;
  font-family: colfax-web;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background: rgba(233, 228, 223, 0.1);
    color: #ffffff;
  }
  &:active {
    transform: scale(0.95);
  }
}

.container-account {
  display: flex;
  flex-direction: row;
}

.address {
  position: absolute;
  top: 0;
  left: 0;
  // border: solid 1px #e6e6e6;
  // border-radius: 100px;
  transform: translate(-30%, 50%);
  color: transparent !important;
  padding: 0 16px;

  font-size: 12px;
  color: #ffffff;

  cursor: pointer;
}

:global(.popper) {
  font-size: 14px;
  min-width: 140px;
  text-align: center;
}

.unsupported-key-icon {
  width: 100%;
  text-align: center;
}
