@import "../../styles/var";

.container-asset {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 24px 0;

  .title {
    font-size: 14px;
    letter-spacing: -0.31px;
    text-align: center;
    color: #4a4a4a;
  }

  .fiat {
    font-size: 36px;
    text-align: center;

    letter-spacing: -0.8px;
    color: black;
  }

  .amount {
    position: relative;
    display: flex;

    font-size: 18px;
    text-align: center;

    letter-spacing: -0.4px;
    color: #8f8f8f;
  }

  :global(.popper) {
    font-size: 14px;
    min-width: 140px;
  }
}

.container-chart {
  position: relative;
  width: 300px;
  // height: 48px;

  .center-text {
    // position: absolute;
    z-index: 1;
    text-align: center;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    .big {
      font-size: 13px;
      color: #ffffff;
    }

    .small {
      font-size: 30px;
      color: #ffffff;
      font-weight: 500;
    }

    .indicator-icon {
      position: absolute;
      width: 100%;
    }
  }

  canvas {
    position: relative;
  }
}

.legend {
  display: flex;
  width: 100%;

  .label {
    letter-spacing: -0.3px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .value {
    letter-spacing: -0.3px;
    flex: 1;
    display: flex;
    font-weight: bold;
  }
}

.tokenPriceChangeWrap {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  z-index: 999;
}

.tokenPriceChangeNone {
  color: gray;
}

.tokenPriceChangePositive {
  color: #22e164;
}

.tokenPriceChangeNegative {
  color: #e23e3e;
}

.tokenPriceBackgroundNone {
  padding: 0px 5px;
  color: gray;
  background-color: rgba(163, 163, 163, 0.199);
  border-radius: 4px;
}

.tokenPriceBackgroundPositive {
  padding: 0px 5px;
  color: #22e164;
  background-color: #52ff9733;
  border-radius: 4px;
}

.tokenPriceBackgroundNegative {
  padding: 0px 5px;
  color: #e23e3e;
  background-color: #e24d4d33;
  border-radius: 4px;
}

.glowNone {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.158);
  border-radius: 100%;
  height: 252px;
  width: 404px;
  left: -53px;
  top: -148px;
  filter: blur(75px);
  z-index: 1;
}

.glowPositive {
  position: absolute;
  background-color: #22e16517;
  border-radius: 100%;
  height: 252px;
  width: 404px;
  left: -53px;
  top: -148px;
  filter: blur(75px);
  z-index: 1;
}

.glowNegative {
  position: absolute;
  background-color: #e23e4017;
  border-radius: 100%;
  height: 252px;
  width: 404px;
  left: -53px;
  top: -148px;
  filter: blur(75px);
  z-index: 1;
}
