.container {
  display: flex;
  flex-direction: column;

  height: 100%;
  margin-top: 10px;
}

.item {
  cursor: pointer;

  background: #272727;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 10px 8px 10px;
  border-radius: 5px;
}

.footer {
  padding: 20px 30px;
  font-size: 14px;

  .inner {
    display: flex;
    cursor: pointer;
    color: #8898aa;

    i {
      margin-right: 6px;
      font-size: 20px;
    }
  }
}
