.token-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background: #1d1d1d;
  height: 68px;
  padding: 0 12px;
  cursor: pointer;

  margin: 0 0 12px 0;

  &:hover {
    background: #272727;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .icon {
    width: 46px;
    height: 46px;

    margin-right: 8px;
  }

  .inner-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      gap: 2px;

      .name {
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;

        max-width: 216px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .amount {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.13;
        color: #696969;

        max-width: 216px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .right-icon {
      i {
        font-size: 18px;
        color: #999999;
      }
    }
  }
}

.tokens-container {
  .title {
    font-size: 14px;
    font-weight: bold;
    color: #525f7f;
    margin-bottom: 12px;
  }
  position: relative;
  z-index: 99;
}

.inputWrapper {
  // box-sizing: border-box;
  height: 43px;
  width: 100%;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #323232;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  overflow: hidden;

  &:hover {
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #696969;
    color: #696969;
  }
  &:focus {
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #696969;
    color: #696969;
  }
}

.input {
  margin-left: 32px;
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  font-size: 18px;
  &:hover {
    background: rgba(0, 0, 0, 0) !important;
    color: #696969;
  }
  &:focus {
    background: rgba(0, 0, 0, 0) !important;
    color: #696969;
  }
}
.input::placeholder {
  color: #696969;
}

.input:focus ~ .placeholder,
.input:valid ~ .placeholder {
  display: none;
}

.searchIcon {
  width: 20px;
  height: 20px;
  background-size: cover;
  position: absolute;
  left: 16px;
  margin-top: -4px;
}

.tokenPriceWrap {
  margin-right: 5px;
  margin-top: 2px;
}

.tokenPrice {
  float: right;
  color: #ffffff;
}

.tokenPriceChangeNone {
  color: gray;
}

.tokenPriceChangePositive {
  color: #22e164;
}

.tokenPriceChangeNegative {
  color: #e23e3e;
}
