.token-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: inset 0px 1.00501px 0px rgba(67, 67, 67, 0.75);
  height: 68px;
  padding: 0 12px;

  cursor: pointer;

  margin: 0 0 12px 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  .icon {
    width: 46px;
    height: 46px;

    margin-right: 8px;
  }

  .inner-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 16px;
        color: #ffffff;

        max-width: 216px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .amount {
        font-size: 14px;
        line-height: 1.13;
        letter-spacing: -0.3px;
        color: #696969;

        max-width: 216px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .right-icon {
      i {
        font-size: 18px;
        color: #999999;
      }
    }
  }
}

.tokens-container {
  .title {
    font-size: 14px;
    font-weight: bold;
    color: #525f7f;

    margin-bottom: 12px;
  }
}

.input {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #323232;
  border-radius: 5px;
  height: 43px;
  box-sizing: border-box;
  margin-bottom: 14px;
}
