@import "../../../styles/var";

:global {
  .header {
    width: 100%;
    height: $header-height;

    position: relative;

    // border-bottom-style: solid;
    // border-width: 1px;
    // border-bottom-color: gray;

    &.fixed {
      position: fixed;
    }

    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  }

  .header-menu-left {
    position: absolute;
    height: $header-height;
    top: 0;
  }

  .header-section {
    flex: 1;
    height: $header-height;
    background: rgba(255, 255, 255, 0.02);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-menu-right {
    position: absolute;
    height: $header-height;
    top: 0;
    right: 0;
  }
}
