@charset "utf-8";

@import "../../../../node_modules/argon-dashboard-react/src/assets/plugins/nucleo/css/nucleo.css";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands";

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap");
@font-face {
  font-family: Nanum Barun Gothic;
  src: url(../public/assets/font/NanumBarunGothic.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Nanum Barun Gothic;
  src: url(../public/assets/font/NanumBarunGothicLight.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Nanum Barun Gothic;
  src: url(../public/assets/font/NanumBarunGothicBold.ttf);
  font-weight: bold;
}
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * colfax-web:
 *   - http://typekit.com/eulas/00000000000000007735f505
 *   - http://typekit.com/eulas/00000000000000007735f50f
 *   - http://typekit.com/eulas/00000000000000007735f506
 *   - http://typekit.com/eulas/00000000000000007735f510
 * roc-grotesk:
 *   - http://typekit.com/eulas/00000000000000007735b7c0
 *   - http://typekit.com/eulas/00000000000000007735b7c3
 *   - http://typekit.com/eulas/00000000000000007735b7d0
 *   - http://typekit.com/eulas/00000000000000007735b7d4
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-12-12 08:28:29 UTC"}*/

// @import url("https://p.typekit.net/p.css?s=1&k=cdx6xun&ht=tk&f=15565.15566.15571.15572.41078.41097.41110.41111&a=125790735&app=typekit&e=css");

// @font-face {
//   font-family: "colfax-web";
//   src: url("https://use.typekit.net/af/a431c4/00000000000000007735f505/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
//       format("woff2"),
//     url("https://use.typekit.net/af/a431c4/00000000000000007735f505/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
//       format("woff"),
//     url("https://use.typekit.net/af/a431c4/00000000000000007735f505/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
//       format("opentype");
//   font-display: auto;
//   font-style: normal;
//   font-weight: 700;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: "colfax-web";
//   src: url("https://use.typekit.net/af/b7d19a/00000000000000007735f50f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
//       format("woff2"),
//     url("https://use.typekit.net/af/b7d19a/00000000000000007735f50f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
//       format("woff"),
//     url("https://use.typekit.net/af/b7d19a/00000000000000007735f50f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
//       format("opentype");
//   font-display: auto;
//   font-style: italic;
//   font-weight: 700;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: "colfax-web";
//   src: url("https://use.typekit.net/af/b3f4bf/00000000000000007735f506/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//       format("woff2"),
//     url("https://use.typekit.net/af/b3f4bf/00000000000000007735f506/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//       format("woff"),
//     url("https://use.typekit.net/af/b3f4bf/00000000000000007735f506/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//       format("opentype");
//   font-display: auto;
//   font-style: normal;
//   font-weight: 400;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: "colfax-web";
//   src: url("https://use.typekit.net/af/05ec09/00000000000000007735f510/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
//       format("woff2"),
//     url("https://use.typekit.net/af/05ec09/00000000000000007735f510/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
//       format("woff"),
//     url("https://use.typekit.net/af/05ec09/00000000000000007735f510/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
//       format("opentype");
//   font-display: auto;
//   font-style: italic;
//   font-weight: 400;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: "roc-grotesk";
//   src: url("https://use.typekit.net/af/c4fccd/00000000000000007735b7c0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
//       format("woff2"),
//     url("https://use.typekit.net/af/c4fccd/00000000000000007735b7c0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
//       format("woff"),
//     url("https://use.typekit.net/af/c4fccd/00000000000000007735b7c0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
//       format("opentype");
//   font-display: auto;
//   font-style: normal;
//   font-weight: 600;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: "roc-grotesk";
//   src: url("https://use.typekit.net/af/975d46/00000000000000007735b7c3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
//       format("woff2"),
//     url("https://use.typekit.net/af/975d46/00000000000000007735b7c3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
//       format("woff"),
//     url("https://use.typekit.net/af/975d46/00000000000000007735b7c3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
//       format("opentype");
//   font-display: auto;
//   font-style: normal;
//   font-weight: 700;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: "roc-grotesk";
//   src: url("https://use.typekit.net/af/5eb19c/00000000000000007735b7d0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
//       format("woff2"),
//     url("https://use.typekit.net/af/5eb19c/00000000000000007735b7d0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
//       format("woff"),
//     url("https://use.typekit.net/af/5eb19c/00000000000000007735b7d0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
//       format("opentype");
//   font-display: auto;
//   font-style: normal;
//   font-weight: 500;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: "roc-grotesk";
//   src: url("https://use.typekit.net/af/97dd77/00000000000000007735b7d4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//       format("woff2"),
//     url("https://use.typekit.net/af/97dd77/00000000000000007735b7d4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//       format("woff"),
//     url("https://use.typekit.net/af/97dd77/00000000000000007735b7d4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
//       format("opentype");
//   font-display: auto;
//   font-style: normal;
//   font-weight: 400;
//   font-stretch: normal;
// }

// .tk-colfax-web {
//   font-family: "colfax-web", sans-serif;
// }
// .tk-roc-grotesk {
//   font-family: "roc-grotesk", sans-serif;
// }

$font-family-base: "Nunito Sans", sans-serif;
$body-color: black;
@import "../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard-react";

@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

@import "var";

html {
  width: $popup-size-width;
  height: $popup-size-height;
  margin: auto;
  background-color: white;

  overflow: auto;
}

body {
  width: $popup-size-width;
  height: $popup-size-height;

  background-color: $background-color;

  &[data-lang="ko"] {
    word-break: keep-all;
    word-wrap: break-word;

    font-family: "Nanum Barun Gothic", sans-serif !important;
  }
}

#app {
  width: $popup-size-width;
  height: $popup-size-height;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.form-text,
.valid-feedback,
.invalid-feedback {
  position: absolute;
}

.form-control {
  color: black;

  &:focus {
    color: black;
  }
}

button[data-loading="true"] {
  color: transparent !important;
  pointer-events: none;

  &::after {
    position: absolute !important;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));

    -webkit-animation: spinAround 0.5s infinite linear;
    animation: spinAround 0.5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
  }
}
