.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .img-lock {
    width: 160.38px;
    height: 160.38px;
  }

  p {
    font-family: colfax-web;
    font-weight: 600;
    line-height: 19px;
    font-size: 16px;
    letter-spacing: -0.3px;
    color: #ff7e7e;
  }
}
