@import "../../styles/var";

$container-width: 100vw;

// Used only on the mnemonic recover page.
// The overall design refactoring is needed, but now the refactoring has been delayed for various reasons.
// For now, it is handled roughly.
$large-container-width: 100vw;

html[data-register-page="true"] {
  height: 100%;

  body {
    height: 100%;
    background-color: white;

    overflow: visible !important;

    :global(#app) {
      height: 100%;

      .container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.container {
  width: $container-width;
  margin-left: calc(($popup-size-width - $container-width) / 2);
  background-image: url("../../public/assets/img/grid.png");
  background-size: cover;

  &:global(.large) {
    width: $large-container-width;
    margin-left: calc(($popup-size-width - $large-container-width) / 2);
  }

  display: flex;
  flex-direction: column;
  background-color: white;

  :global(.btn) {
    margin-left: 0;
    margin-right: 0;
  }

  :global(.btn-block + .btn-block) {
    margin-top: 14px;
  }

  .edge-logo-container {
    position: absolute;
    width: 263px;
    margin-top: 51px;
    margin-left: 60px;

    .logo-inner-container {
      display: flex;
      flex-direction: row;

      &.justify-center {
        align-items: center;
      }

      .icon {
        width: 263px;
        height: 31px;
      }

      .brand-text {
        color: #e9e4df;
        font-size: 20px;
        font-weight: 700;
        margin-left: 7px;
      }
    }
  }

  .logo-container {
    margin-top: 40px;
    margin-bottom: 40px !important;
    width: 515px;
    margin: auto;

    display: flex;
    flex-direction: column;

    .logo-inner-container {
      display: flex;
      flex-direction: row;

      &.justify-center {
        align-items: center;
      }

      .icon {
        width: 263px;
        height: 31px;
      }

      .brand-text {
        color: #e9e4df;
        font-size: 20px;
        font-weight: 700;
        margin-left: 7px;
      }
    }

    .intro-brand-sub-text-container {
      margin-top: 11px;
      font-family: colfax-web;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #959595;

      .intro-brand-sub-text {
        display: block;
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }
  }

  .title {
    font-size: 24px;
    letter-spacing: -1.07px;
    margin-bottom: 24px;

    color: #525f7f;
  }

  .new-mnemonic {
    position: relative;
    font-family: colfax-web;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.003em;
    padding: 20px;
    color: #e9e4df;
    background: #1d1d1d;
    border-radius: 12px;
    box-shadow: inset 0px 1.13158px 0px #393939;
    margin-bottom: 32px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 50px;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    padding: 14px 28px 18px 28px;
    position: absolute;
    bottom: 0;
    left: -1px;
    width: 516px;
    background: #4a4545;
    border-radius: 0 0 12px 12px;

    .sub-button {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: #ffd48a;
      }

      &:active {
        transform: scale(0.95);
        color: #ffffff;
      }
    }
  }

  .word {
    width: 149px;
    height: 43px;
    border: 1px solid #323232;
    border-radius: 8px;
    display: flex;
    // justify-content: center;
    padding-left: 14px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: colfax-web;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.003em;
  }

  .mnemonic {
    font-family: "Courier Prime", serif;
    font-size: 16px;
    letter-spacing: -0.36px;

    padding: 20px 30px;
    text-align: center;

    &:read-only {
      background-color: white;
    }

    &[readonly] {
      background-color: white;
    }

    &::placeholder {
      font-family: colfax-web;

      body[data-lang="ko"] & {
        font-family: "Nanum Barun Gothic", sans-serif !important;
      }
    }
  }

  .sub-content {
    margin-top: 34px;

    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #9092b6;
  }

  hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  button:not(:last-child) {
    margin-right: 8px;
  }
  button {
    margin-bottom: 8px;
    margin-left: 0 !important;
  }
}

.buttonContainer {
  width: 527px;
  margin: auto;
  // margin-top: 32px;
}

.createBtn,
.importBtn {
  // width: 266px;
  padding: 22px;
  background: #1d1d1d;
  color: white;
  text-align: left !important;
  font-size: 18px;
  line-height: 26px;
  border: none !important;
  box-shadow: inset 0px 1.13158px 0px #393939;
  border-radius: 12px;
  cursor: pointer;

  &:hover {
    background: #1d1d1d;
    color: white;
    border: 1px solid #ffd48a !important;
  }

  // &:active {
  //   background-color: #1d1d1d !important;
  //   border: 4px solid rgba(255, 212, 138, 0.3) !important;
  //   color: white !important;
  // }
}

.btnContainer {
  width: 260px;
  height: 153px;
  box-sizing: border-box;
  &:hover {
    border-radius: 16px;
    border: 4px solid rgba(255, 212, 138, 0.3) !important;
    transform: translate(-5px, -5px);
  }
}

.buttonContainerWrapper {
  height: 300px;
  display: flex;
  align-items: center;
}

.passwordTitle {
  font-family: roc-grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 25.1481px;
  line-height: 36px;
  color: #ffffff;
  letter-spacing: 0.003em;
  margin-bottom: 21px;
}

.inputBox {
  height: 52px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #323232;
  border-radius: 8px;
  font-family: colfax-web;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #696969;
  &:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #696969;
    border: 1px solid #323232 !important;
  }
}

.nextBtn {
  height: 38px;
  background: linear-gradient(180deg, #ffdf8b 0%, #ffc989 100%);
  box-shadow: inset 0px 1px 0px #fff9ef;
  border-radius: 35px;
  font-family: colfax-web;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #141414;
  border: none !important;
}
