.title {
  font-size: 24px;
  letter-spacing: -1.07px;
}

.content {
  font-family: roc-grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 25.1481px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.003em;
  margin-top: 26px;
  color: #ffffff;
}

.imagePad {
  background-image: url("../../public/assets/img/Group.png");
  background-size: cover;
  width: 212px;
  height: 283px;
  margin: auto;
}

.launchBtn {
  margin-top: 38px;
  background: linear-gradient(180deg, #ffdf8b 0%, #ffc989 100%);
  box-shadow: inset 0px 1px 0px #fff9ef;
  border-radius: 35px;
  width: 289px;
  height: 38px;
  font-family: colfax-web;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #141414;
}
