@import "../../../styles/var";

.container {
  // margin: 0 calc(#{$layout-padding} * -1) calc(#{$layout-padding} * -1);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  // height: 100%;
}

.inner-top-container {
  width: 329.64px;
  height: 68.34px;
  background: #171717;
  border: 1px solid #1e1e1e;
  border-radius: 5.02507px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(105, 105, 105, 0.5);

  cursor: pointer;
}

.full-modal {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border: 0;
  margin: 0;
  padding: 0;

  &:global(.modal-content) {
    box-shadow: none;
  }
}

.colorContainer {
  width: 108px;
  display: flex;
  justify-content: space-between;
  margin: auto;

  .colorBox {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    &:hover {
      border: 2px solid #696969;
    }
  }
}

.shortName {
  position: relative;
  width: 88.64px;
  height: 88.64px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 34.8412px;
  line-height: 42px;
  color: #131313;

  cursor: pointer;
}

.pinStatus {
  position: absolute;
  right: -3px;
  bottom: -1.36px;
  width: 25px;
  height: 25px;
  border-radius: 50px;
}

.footer {
  width: 100%;
  height: 70px;
  background: #1d1d1d;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}

.button {
  border-color: transparent !important;
  margin-top: -2px;
  width: 160px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #323232;
  border-radius: 8px;
  color: #959595;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  cursor: pointer;
}

.buttonActive {
  width: 160px;
  margin-top: -2px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #ffdf8b 0%, #ffc989 100%);
  box-shadow: inset 0px 1px 0px #fff9ef;
  border-radius: 8px;
  border: none !important;
  color: #141414;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  cursor: pointer;
}

.accountBox {
  width: 100%;
  height: 68.34px;
  background: #1d1d1d;
  border-radius: 5.02507px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 11px 12.64px;
  margin-bottom: 9px;
  cursor: pointer;

  &:hover {
    background: #272727;
  }
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 18.08px;
  line-height: 22px;
  color: #131313;
}

.accountInfo {
  display: flex;
  align-items: center;
}

.copyButton {
  width: 50px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3c3b3a;
  border-radius: 29px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: #959595;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
    color: #212529;
    background-color: #f7fafc;
  }
}

.accountName {
  display: flex;
  align-items: center;
  color: "#E9E4DF";
  font-weight: 600;
  font-size: 16.0802px;
  line-height: 19px;
  color: #e9e4df;
}

.accountAddress {
  margin-top: 4.5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14.0702px;
  line-height: 17px;
  letter-spacing: 0.301504px;
}

.inputStyle {
  &::placeholder {
    color: "#696969";
  }

  &:-ms-input-placeholder {
    color: "#696969";
  }

  ::-ms-input-placeholder {
    color: "#696969";
  }
}
