.container {
  height: 100%;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.empty {
  flex: 1;
}

.icon {
  width: 124px;
  height: 124px;
  margin-bottom: 10px;
}

.logo {
  object-fit: contain;
  height: 32px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 29.1429px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #959595;
}
